.form-generator {
    display              : -ms-grid;
    display              : grid;
    -ms-grid-columns     : 400px 20px 1fr;
    grid-template-columns: 400px 1fr;
    -ms-grid-rows     : 1fr 20px;
    grid-template-rows   : 1fr;
    grid-gap             : 20px;
    height               : 100%;
    padding-right: 20px;

    section {
        &:nth-child(1) {
            -ms-grid-column: 1;
        }

        &:nth-child(2) {
            -ms-grid-column: 3;
        }
    }
}