.container {
    display              : grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows   : 1fr;
    grid-column-gap      : 20px;
    grid-row-gap         : 20px;
    justify-items        : stretch;
    align-items          : stretch;
    height               : 100%;
    width                : 100%;
    header {
        grid-column     : 1;
        background-color: var(--red);
        color: var(--white);
    }
}