<section class="form-container" [formGroup]="form">
    <mat-accordion>
        <!-- grid setup -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Grid container
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-array-group">
                <div formArrayName="columns" *ngFor="let item of form.get('columns')['controls']; let i = index">
                    <div class="input-group--title">Column {{i}}</div>
                    <div [formGroupName]="i" class="input-controlls-group">
                        <mat-form-field>
                            <input matInput placeholder="Enter column size" formControlName="width" type="number">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select formControlName="units">
                                <mat-option *ngFor="let item of units" [value]="item" placeholder="'select units'">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button color="warn" (click)="deleteItem(i, 'columns')">Delete</button>
                    </div>
                </div>
                <button mat-raised-button color="primary" (click)="addItem('columns')">Add column</button>
            </div>
            <div class="form-array-group">
                <div formArrayName="rows" *ngFor="let item of form.get('rows')['controls']; let i = index">
                    <div class="input-group--title">Row {{i}}</div>
                    <div [formGroupName]="i" class="input-controlls-group">
                        <mat-form-field>
                            <input matInput placeholder="Enter row size" formControlName="width" type="number">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select formControlName="units">
                                <mat-option *ngFor="let item of units" [value]="item" placeholder="'select units'">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button color="warn" (click)="deleteItem(i, 'rows')">Delete</button>
                    </div>
                </div>
                <button mat-raised-button color="primary" (click)="addItem('rows')">Add row</button>
            </div>
        </mat-expansion-panel>
        <!-- grid content setup -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Grid content
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div formArrayName="content" *ngFor="let item of form.get('content')['controls']; let i = index">

                <div [formGroupName]="i" class="input-controlls-group wrap">
                    <div class="input-group--title w-100">Content {{i}}</div>
                    <mat-form-field class="w-50">
                        <input matInput placeholder="container name" formControlName="containerName" type="text">
                    </mat-form-field>
                    <button class="w-50" mat-button color="warn" (click)="deleteItem(i, 'content')">Delete</button>
                    <mat-form-field class="w-50">
                        <input matInput placeholder="container column start" formControlName="containerColStart"
                            type="text">
                    </mat-form-field>
                    <mat-form-field class="w-50">
                        <input matInput placeholder="container column end" formControlName="containerColEnd"
                            type="text">
                    </mat-form-field>
                    <mat-form-field class="w-50">
                        <input matInput placeholder="container row start" formControlName="containerRowStart"
                            type="text">
                    </mat-form-field>
                    <mat-form-field class="w-50">
                        <input matInput placeholder="container row end" formControlName="containerRowEnd" type="text">
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="addContent('content')">Add content block</button>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- save config  -->
    <button mat-raised-button color="primary" (click)="onSubmit()">Save all</button>
</section>