.form-container {
    height      : 100%;
    overflow    : auto;
    padding: 20px 0;
}

.input-group--title {
    font-weight: bold;
    font-size  : 1.3em;
}

.mat-form-field-type-mat-input {
    padding-right: 30px;
}

.mat-form-field-type-mat-select {
    width: 80px;
}