<section class="form-container" [formGroup]="form">
    <ngb-accordion activeIds="config-panel-one">
        <!-- grid setup -->
        <ngb-panel title="Grid container" id="config-panel-one">
            <ng-template ngbPanelContent>
                <div class="form-array-group">
                    <div class="form-array-group__group" formArrayName="columns"
                        *ngFor="let item of form.get('columns')['controls']; let i = index">
                        <div class="input-group--title">Column {{i}}</div>
                        <div [formGroupName]="i" class="input-group">
                            <input class="form-control" class="form-control" placeholder="Size" formControlName="width"
                                type="number">

                            <select class="form-control" class="form-control" formControlName="units">
                                <option *ngFor="let item of units" [value]="item" placeholder="'select units'">
                                    {{item}}
                                </option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-danger" (click)="deleteItem(i, 'columns')">Delete</button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm add-button" (click)="addItem('columns')">Add column</button>
                </div>
                <div class="form-array-group">
                    <div class="form-array-group__group" formArrayName="columns"
                        *ngFor="let item of form.get('rows')['controls']; let i = index">
                        <div class="input-group--title">Row {{i}}</div>
                        <div [formGroupName]="i" class="input-group">
                            <input class="form-control" class="form-control" placeholder="Size" formControlName="width"
                                type="number">

                            <select class="form-control" class="form-control" formControlName="units">
                                <option *ngFor="let item of units" [value]="item" placeholder="'select units'">
                                    {{item}}
                                </option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-danger" (click)="deleteItem(i, 'rows')">Delete</button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm add-button" (click)="addItem('rows')">Add row</button>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- grid content setup -->
        <ngb-panel title=" Grid content">
            <ng-template ngbPanelContent>
                <div formArrayName="content" *ngFor="let item of form.get('content')['controls']; let i = index">

                    <div [formGroupName]="i" class="input-controlls-group wrap">
                        <div class="input-group--title w-100">Content {{i}}</div>
                        <div class="w-50">
                            <input class="form-control" placeholder="container name" formControlName="containerName"
                                type="text">
                        </div>
                        <button class="w-50" mat-button color="warn" (click)="deleteItem(i, 'content')">Delete</button>
                        <div class="w-50">
                            <input class="form-control" placeholder="container column start"
                                formControlName="containerColStart" type="text">
                        </div>
                        <div class="w-50">
                            <input class="form-control" placeholder="container column end"
                                formControlName="containerColEnd" type="text">
                        </div>
                        <div class="w-50">
                            <input class="form-control" placeholder="container row start"
                                formControlName="containerRowStart" type="text">
                        </div>
                        <div class="w-50">
                            <input class="form-control" placeholder="container row end"
                                formControlName="containerRowEnd" type="text">
                        </div>
                    </div>
                </div>
                <button color="primary" (click)="addContent('content')">Add content block</button>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <!-- save config  -->
    <button class="btn btn-primary" (click)="onSubmit()">Save all</button>
</section>