.form-container {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    height         : 100%;
    padding        : 20px 0;
    box-sizing     : border-box;
    overflow       : auto;
    max-height     : 100vh;
}

.add-button {
    width     : 100%;
    margin-top: 10px;
}

.input-group--title {
    font-weight   : bold;
    text-transform: uppercase;
    margin-bottom : 3px;
    font-size     : 1.1em;
}

.form-array-group {
    margin-bottom: 50px;
}

hr {
    margin-bottom: 40px;
    display      : block
}

.input-group {
    margin-bottom: 10px;
}