.form-container {
    height  : 100%;
    overflow: auto;
    padding : 20px 0;
}

.input-group--title {
    font-weight: bold;
    font-size  : 1.3em;
}

.mat-form-field-type-mat-select {
    width: 80px;
}

.input-controlls-group {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

    &.wrap {
        flex-wrap: wrap;
    }
}

.form-array-group {
    margin-bottom: 60px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: calc(50% - 15px);
}